<!-- <div class="banner"> -->
	<div>
		<div class="banner__graphic">
			<img src="{{bannerImage}}" alt="{{bannerImageAlt}}" />
		</div>
		<div class="banner__intro">
			<h1>{{sectionTitle}}</h1>
			<h2>{{componentTitle}}</h2>
			<p>{{intro}}</p>						
		</div>
	</div>
<!-- </div> -->